<section class="acb-entry-body">
  <h2>{{title}}</h2>
  <p class="acb-help">{{helpStorage}}</p>
  <div class="acb-entry-actions">
    <button type="button" data-action="acb-create">{{localize "ACB.ui.create"}}</button>
    <button type="button" data-action="acb-edit">{{localize "ACB.ui.edit"}}</button>
  </div>
</section>
